@*@model IEnumerable<BeautySystem.Models.Appointment>*@

@{
    ViewBag.Title = "Index";
}
@using FullCalendar;

@*<h2>Index</h2>*@


@*<div style="height:700px;width:900px;margin:0 auto">
        @Html.Raw(Model.Render())
    </div>*@

<br />
<br />
<br />
<br />
<div class="row">
    @*<div class="col-md-4">
        Time Starts:<select id="start" class="form-control">
            <option value="0">Select Start time</option>
            <option value="1">8</option>
        </select>
    </div>

    <div class="col-md-4">
        End Time:<select id="end" class="form-control">
            <option value="0">Select End time</option>
            <option value="1">17</option>
        </select>
    </div>*@
    
    <div class="col-md-4">
        Hours Worked:<select id="hours" class="form-control">
            <option value="0">Select Hours Worked</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
    </div>
    <div clas="col-md-4">
        Date:<input class="ui-datepicker form-control" placeholder="Select Date" type="date"/>
    </div>
 
</div>
